body{
    margin:0px;
    text-align:center;
    background-color: #c6ebc9;
}
.name{
    font-family: cursive;
}
.profession{
    font-family: cursive;
}
.title{
    height:200px;
    margin-top: 10%;
    position: relative;
}   
.mountain{
    width: 1000px;
    height:500px;
    padding: 10px;
    margin-top: 50px;
}
.cloud-top{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0px;
    right: 25%;
    padding: 10px;
}
.cloud-bottom{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 220px;
    left: 25%;
    padding: 10px;
}



